# ____First Program___

In [1]:
#print

55466+545654

601120

In [2]:
566456895+555555566

1122012461

In [4]:
64555566*2566566

165686120806356

In [5]:
a=1

In [6]:
a

1

In [7]:
a=55
b='gg'

In [8]:
a
b

'gg'

In [9]:
print(a)
print(b)

55
gg

In [10]:
c=a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
c=str(a)+b

In [12]:
c

'55gg'

In [13]:
a=10.0+20.0

In [14]:
a

30.0

In [15]:
type(a)

float

In [16]:
type(b)

str

In [17]:
x='Arindam'

In [18]:
x

'Arindam'

In [20]:
y="Arindam's"

In [21]:
y

"Arindam's"

In [22]:
type(y)

str

In [25]:
a1=1,2,3,4,'vv'

a1

(1, 2, 3, 4, 'vv')

In [51]:
my_list=[1,2,3,4,5,'vv',"cc's",'dd',2,4,'dd',100,120,100]

my_list

[1, 2, 3, 4, 5, 'vv', "cc's", 'dd', 2, 4, 'dd', 100, 120, 100]

In [29]:
type(my_list)

list

In [47]:
my_list[-5:]

[4, 5, 'vv', "cc's", 'dd']

In [49]:
my_list.append(10)

In [50]:
my_list

[1, 2, 3, 4, 5, 'vv', "cc's", 'dd', 10]

In [54]:
my_list.count(120)

1

In [55]:
list2=[500,600,700]

In [56]:
my_list.append(list2)

In [57]:
my_list

[1, 2, 3, 4, 5, 'vv', "cc's", 'dd', 2, 4, 'dd', 100, 120, 100, [500, 600, 700]]

In [58]:
list3=['nn','mm','gg']

In [59]:
my_list.append(list3)

In [60]:
my_list

[1,
 2,
 3,
 4,
 5,
 'vv',
 "cc's",
 'dd',
 2,
 4,
 'dd',
 100,
 120,
 100,
 [500, 600, 700],
 ['nn', 'mm', 'gg']]

In [62]:
my_list.extend([70,80,50000])

In [63]:
my_list

[1,
 2,
 3,
 4,
 5,
 'vv',
 "cc's",
 'dd',
 2,
 4,
 'dd',
 100,
 120,
 100,
 [500, 600, 700],
 ['nn', 'mm', 'gg'],
 70,
 80,
 50000]

In [64]:
my_list[15][0]

'nn'

In [68]:
my_list.index('dd')

7

In [69]:
my_list.pop()

50000

In [70]:
my_list

[1,
 2,
 3,
 4,
 5,
 'vv',
 "cc's",
 'dd',
 2,
 4,
 'dd',
 100,
 120,
 100,
 [500, 600, 700],
 ['nn', 'mm', 'gg'],
 70,
 80]

In [72]:
my_list.remove(4)

my_list

[1,
 2,
 3,
 5,
 'vv',
 "cc's",
 'dd',
 2,
 'dd',
 100,
 120,
 100,
 [500, 600, 700],
 ['nn', 'mm', 'gg'],
 70,
 80]

In [76]:
my_list.reverse()

In [77]:
my_list

[80,
 70,
 ['nn', 'mm', 'gg'],
 [500, 600, 700],
 100,
 120,
 100,
 'dd',
 2,
 'dd',
 "cc's",
 'vv',
 5,
 3,
 2,
 1]

In [80]:
list2.sort()

list2

[500, 600, 700]

In [82]:
sorted(list2,reverse=True)

[700, 600, 500]

In [83]:
list2.insert(1,550)

In [85]:
list2

[500, 550, 600, 700]

In [114]:
my_dict={'key1':'xx','key2':[10,20,30],'key3':35,'key4':40}

In [115]:
my_dict

{'key1': 'xx', 'key2': [10, 20, 30], 'key3': 35, 'key4': 40}

In [116]:
my_dict['key1'][0].upper()

'X'

In [89]:
type(my_dict)

dict

In [93]:
my_dict.update({'key5':45})

In [94]:
my_dict

{'key1': 25, 'key2': 30, 'key3': 35, 'key4': 40, 'key5': 45}

In [95]:
my_dict['key1']

25

In [96]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5'])

In [97]:
my_dict.values()

dict_values([25, 30, 35, 40, 45])

In [101]:
list_1 = ['name1','name2','name3']
list_2 = [40,50,60]

In [102]:
dict(zip(list_1,list_2))

{'name1': 40, 'name2': 50, 'name3': 60}

In [108]:
my_dict1={'key1':{'xx':40,'yy':45}}

In [111]:
my_dict1['key1']

{'xx': 40, 'yy': 45}