Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [ ]:
s='john@google.com'
x = s.find('@')
y = s.find('com')
print(s[x+1:y])

Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [3]:
s = input('Enter comma seprated sequence of words as input: ')
words = [ word for word in s.split(',')]
words = ",".join(sorted(list(words)))
print(words)

Enter comma seprated sequence of words as input: without,hello,bag,world
bag,hello,without,world

Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [4]:
A = [1, 2, 4 ,6 ,3 ,7, 8]
n = len(A)
total = (n + 1)*(n + 2)/2
sum_of_A = sum(A)
print(total - sum_of_A)

5.0

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [5]:
dupno= [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
l1 = []
for no in dupno:
    if no not in l1:
        l1.append(no)
        
print(l1)

[12, 24, 35, 88, 120, 155]

In [21]:
dupno= input("Enter No: ")
s = [no for no in dupno.split(' ') ]
# print(type(s))
for no in s:
    if no not in l1:
        l1.append(no)
t = str(l1)
print(t,type(t))

for s1 in t:
    sng = sng + ' ' +s1
    
print(sng)

#need help

Enter No: 12 24 35 24 88 120 155 88 120 155
['12', '24', '35', '88', '120', '155'] <class 'str'>
]  [ ' 1 2 ' ,   ' 2 4 ' ,   ' 3 5 ' ,   ' 8 8 ' ,   ' 1 2 0 ' ,   ' 1 5 5 ' ]