In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
data = pd.read_csv("Materials/Dataset/User_Data - Arindam Dev (1).csv")

In [3]:
data.shape

(400, 5)

In [4]:
data.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data.drop(columns=(['Gender'])),data['Gender'],test_size=0.2, random_state=1)

In [16]:
x_train.head()

      User ID  Age  EstimatedSalary  Purchased
93   15699284   29            28000          0
23   15599081   45            22000          1
299  15747043   46           117000          1
13   15704987   32            18000          0
90   15684801   22            81000          0

In [17]:
from sklearn.svm import SVC

In [26]:
mod = SVC(kernel="linear")
mod.fit(x_train,y_train)
y_pred = mod.predict(x_test)

In [27]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.4625

In [28]:
mod = SVC(kernel="poly")
mod.fit(x_train,y_train)
y_pred = mod.predict(x_test)
accuracy_score(y_test,y_pred)

0.45

In [29]:
mod = SVC(kernel="rbf")
mod.fit(x_train,y_train)
y_pred = mod.predict(x_test)
accuracy_score(y_test,y_pred)

0.425